section {
	font-family: 'Exo 2', sans-serif;
	width: 100%;
	overflow: hidden;
}

.admin_buttons {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	
}
.buttons {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex: 1;
	margin: 100px 0px;
}
.admin_header span {
	font-size: 35px;
	color: #434B52;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid #474B4F;
	box-shadow: 0 5px 10px #111415;
}
.section_header span {
	font-size: 35px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	padding-top: 20px;
	width: 1080px;
}

/*TOURNAMENT BUTTON*/

.button_tour button,
.button_player button,
.button_club button,
.button_league button {
	background-color: #61892F; /* Green */
	border: none;
	color: white;
	width: 100px;
	padding: 15px 15px;
	text-align: center;
    text-decoration: none;
	font-size: 20px;
	border-radius: 4px;
	margin-top: 15px;
}
.button_tour span,
.button_player span,
.button_club span,
.button_league span {
	font-size: 20px;
	font-family: 'Exo 2', sans-serif;
}
.buttons button:hover {
	background-color: #4D6D26;
	cursor: pointer;
}



/*MOBILE RESPONSIVE*/

@media screen and (max-width: 600px) {
	  .admin_header span {
        font-size: 25px;
        color: #434B52;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 20px;
        width: 100%;
        border-bottom: 1px solid #474B4F;
        box-shadow: 0 5px 10px #111415;
    }
	.admin_buttons {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	}
	section {
		width: 100%;
	}
	.buttons {
		margin: 20px 0px;
	}
	.button_tour button,
	.button_player button,
	.button_club button,
	.button_league button {
		width: 100px;
		padding: 10px 10px;
		font-size: 15px;
		border-radius: 4px;
		margin-top: 15px;
	}
	.button_tour span,
	.button_player span,
	.button_club span,
	.button_league span {
		font-size: 15px;
		font-family: 'Exo 2', sans-serif;
	}
}







