body {
	font-family: 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
    background: url(/Users/MacBook/Desktop/snooker_back03.png);
	color: white;
	text-align: center;
	margin: 50px auto;
	width: 100%
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    color: #fff;
}
.matches_list_table_round_num {
	text-transform: uppercase;
	font-size: 22px;
	text-align: left;
}
.round_num_div {
	width: 100%;

}
/*table col[class*="col-"] {
	position: absolute;
	float: none;
	display: table-column;
}*/
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sub-container {
	margin-bottom: 100px;
	width: 1080px;
}
.matches_list_table {
	margin-bottom: 50px;
	width: 100%;
}
table.matches_list_table .col-1 {
 	width: 5%;
}
table.matches_list_table .col-2 {
 	width: 5%;
}
table.matches_list_table .col-3 {
 	width: 30%;
}
table.matches_list_table .col-4 {
 	width: 30%;
}
table.matches_list_table .col-5 {
 	width: 30%;
}
table.matches_list_table .col-6 {
 	width: 5%;
}
.matches_list_table_score {
	display: flex;
	justify-content: space-around;
	margin: 0 20px;
}
.matches_list_table thead th {
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	text-align: center;
}
.matches_list_table_thead{
	color: #fff;
}
.matches_list_table tbody tr td {
	padding: 7px;
}
.matches_list_table_name_right {
	text-align: right;
	font-size: 15px;
	vertical-align: middle;
}
.matches_list_table_score01,
.matches_list_table_score02 {
	font-size: 20px;
	font-weight: 700;
}
.matches_list_table_best_of {
	font-weight: normal;
	font-size: 14px;
}
.matches_list_table_name_left {
	text-align: left;
	font-size: 15px;
	vertical-align: middle; 
}
.matches_list_table_tbody_odd {
	background-color: #54595E;
}
.matches_list_table_tbody_even {
	background-color: #474B4F;
}
.matches_list_table_number {
	background-color: #61892F;
	font-weight: bold;
}
.odd_num {
	background-color: #567A2B; 
}
.matches_list_table_pointer {
	cursor: pointer;
}
.fa-youtube {
	color: #FF1F1C;
}
.matches_list_table_youtube {
	background-color: #4B5055;
}
.even_youtube {
	background-color: #43464A;
}
.matches_list_table thead tr>:nth-child(3) {
	text-align: right;
}
.matches_list_table thead tr>:nth-child(5) {
	text-align: left;
}
.matches_list_table_borRad_div {
	border-top: 3px solid #61892F;
	border-radius: 8px;
	width: 100%;
}
.matches_list_table_borRad_div table {
	border-collapse: collapse;
}
.matches_list_table_borRad-bl {
	border-bottom-left-radius: 8px;
}
.matches_list_table_borRad-br {
	border-bottom-right-radius: 8px;
}
.live {
	color: #FB3B00;
	animation: blink 2s linear infinite;
}
/*@keyframes blink {
  50% {
    opacity: 0;
  }
}
*/

@media screen and (max-width: 1000px) {
	.matches_list_table_borRad_div {
		overflow: hidden;
		flex-wrap: wrap;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		
	}
	.matches_list_table_borRad_div table {
		width: 100%;
		border-collapse: collapse;
		flex-wrap: wrap;
	}
	body {
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	h1 {
		text-align: left;
		padding: 0 30px;
		font-size: 25px;
	}
	.matches_list_table_round_num {
		font-size: 20px;  
	}
	.sub-container {
		padding-left: 30px;
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		align-items: flex-start;
		overflow-x: hidden;
	}













