body {
	font-family: 'Exo 2', sans-serif;
	background-color: #222629;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section {
    text-align: center;
    overflow: auto;
}
.match_lobby {
	display: inline-block;
	width: 700px;
	/*max-width: 700px;
	min-width: 700px;*/
	margin-top: 40px;   /*  відступ зверху  */
	background-color: #474B4F;
	border-top: 3px solid #61892F;
	border-radius: 4px;
	margin-bottom: 0px;
	overflow: auto;
}
.match_lobby_info {
	padding: 12px;
	margin: 0;
	background-color: #222629;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 15px;
}
.match_lobby_frame-section tbody {
	display: table-row-group;
}
.match_lobby_player-table {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: auto;
	/*max-height: 254px;
	min-height: 254px;*/
    padding-top: 10px;
}
.match_lobby_player01,
.match_lobby_player02,
.match_lobby_frame-section {
	flex: 1;
}
.match_lobby_player01,
.match_lobby_player02 {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;	
}
.match_lobby_frame-section {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.match_lobby_player01-name,
.match_lobby_player02-name {
	color: white;
	font-size: 17px;
}
.match_lobby_player01-name {
	float: left;
}
.match_lobby_player02-name {
	float: right;
}
.match_lobby_player01-img,
.match_lobby_player02-img {
	width: 120px;
	max-width: 120px;
	height: 150
	max-height: 150px;
	border-radius: 4px;
}
.match_lobby_frame-section tr th {
	font-size: 17px;
	font-weight: 300;
	background-color: #222629;
	color: #6B6E70;
	text-align: center;
	padding: 0px 20px;
	text-transform: uppercase;
}
.match_lobby_frame-section tr td {
	font-size: 40px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	max-width: 80px;
	min-width: 80px;
}
.match_lobby_frame-section table tr.match_lobby_frame-details td {
	font-size: 12px;
	background-color: #474B4F;
	color: #fff;
	text-align: center;
	border: solid 1px #222629;
	border-bottom: solid 5px #474B4F;
	padding: 3px 0;
	vertical-align: middle;
	border-top: solid 1px #222629;
}


/*MOBILE RESPNSIVE (VS)*/

@media screen and (max-width: 600px) {
	.match_lobby_player01-name,
.match_lobby_player02-name {
	font-size: 14px;
}
.match_lobby_player01-img,
.match_lobby_player02-img {
	width: 100px;
	max-width: 100px;
	height: 120px;
	max-height: 120px;
	object-fit: cover;
}
.match_lobby_frame-section tr th {
	font-size: 14px;
	padding: 10px;
}
.match_lobby_frame-section tr td {
	font-size: 20px;
	width: 40px;
	max-width: 40px;
	min-width: 40px;
}
.match_lobby_player01-name,
.match_lobby_player02-name {
	height: 30px;
}
}





/*********** TABLE ***********/

.match_lobby_framesBreaksPoits_table {
	display: inline-block;
	color: #fff;
	width: 700px;
	border-radius: 4px;
}
.pointer {
	margin: 0px;
}
.match_lobby_table {
	margin-bottom: 30px;
	width: 700px;
	/*max-width: 700px;
	min-width: 700px;*/
}
.match_lobby_table thead th {
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	border-right: 1px solid #343A3F;
}
.match_lobby_table thead tr>:last-child {
	border-right: none;
}
.match_lobby_table .match_lobby_table_tbody tr td {
	padding: 20px;
	border-right: 1px solid #71787F;
}
.br_tl {
	border-top-left-radius: 4px;
}
.br_tr {
	border-top-right-radius: 4px;
}
.br_bl {
	border-bottom-left-radius: 4px;
}
.br_br {
	border-bottom-right-radius: 4px;
}
.match_lobby_table tbody tr>:nth-child(2),
.match_lobby_table tbody tr>:nth-child(3),
.match_lobby_table tbody tr>:nth-child(5) {
	border-right: none;
}
.match_lobby_table_tbody_odd td,
.match_lobby_table_tbody_even td{
	font-size: 17px;
}
.match_lobby_table_tbody tr>:nth-child(2),
.match_lobby_table_tbody tr>:nth-child(4) {
	font-weight: bold;
	font-size: 19px;
}
.match_lobby_table_tbody_odd {
	background-color: #474B4F;
}
.match_lobby_table_tbody_even {
	background-color: #54595E;
}
.match_lobby_table_number_even {
	background-color: #547728;
	font-weight: bold;
	max-width: 20px;
}
.match_lobby_table_number_odd {
	background-color: #61892F;
	font-weight: bold;
	max-width: 20px;
}
.match_lobby_table tr>:nth-child(3) {
	max-width: 20px;
}
.match_lobby_table_pointer {
	cursor: pointer;
}


/*MOBILE RESPNSIVE*/
.res {
	display: none;
}

@media screen and (max-width: 600px) {
	section  {
		width: 100%;
    	overflow: auto;
    	padding: 0 10px;
	}
	.match_lobby {
		overflow: auto;
		width: 100%;
	}
	.match_lobby_framesBreaksPoits_table,
	.match_lobby_table {
		width: 100%;
    	overflow: auto;
	}
	.match_lobby_info {
		width: 100%;
		overflow: scroll;
	}
	.match_lobby_table thead th {
	padding: 10px 0px;
	font-size: 13px;
}
	.match_lobby_table .match_lobby_table_tbody tr td {
	padding: 10px;
}
.match_lobby_table_tbody_odd td,
.match_lobby_table_tbody_even td{
	font-size: 14px;
}
.match_lobby_table_tbody tr>:nth-child(2),
.match_lobby_table_tbody tr>:nth-child(4) {
	font-size: 16px;
}
.res {
	display: block;
}
.non_res {
	display: none;
}
}








