.player_profile_section01 {
	display: inline-block;
	padding-bottom: 20px;
	margin: 40px 0px;
	border-bottom: 1px solid #474B4F;
}
.fa-user {
	font-size: 20px;
	display: block;
	margin-right: 10px;
	color: #86C232;
}
.player_profile_photo {
	display: inline-block;
	width: 380px;
	height: 436px;
	background-color: #33373B;
	float: left;
	margin-bottom: 30px;
    border-radius: 3px;	
    overflow: hidden;
}
.player_profile_img {
	width: 100%;
	height: auto;
	max-height: 100%;
	object-fit: contain;
}
.player_profile_personalInfo {
	width: 500px;
	height: 436px;
	margin-left: 30px;
	background-color: #33373B;
	display: inline-block;
	margin-bottom: 30px;
	border-radius: 3px;
	border-top: 3px solid #61892F;
}
.player_profile_personalInfo table {
	width: 500px;
	height: 433px;
	border-collapse: collapse;
}
.player_profile_header {
	display: inline-block;
	font-size: 20px;
	font-family: 'Exo 2', sans-serif;
	color: #86C232;
}
.player_profile_surname {
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	font-size: 23px;
	color: #86C232;
}
.player_profile_tableHeader {
	color: #7D8082;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px;
}
.player_profile_tabelMean {
	color: #fff;
	font-size: 20px;
}
.max_break {
	border: 1px solid #61892F;
	border-radius: 50%;
	display: inline-block;
	padding: 10px;
	background-color: #61892F;
}
.player_profile_personalInfo table th {
	background-color: #474B4F;
	height: 100px;
}
.player_profile_personalInfo table td {
	width: 250px;
}
.player_profile_personalInfo table tr:last-child td {
	border-top: 1px solid #474B4F;
}
.player_profile_personalInfo table tr td:last-child {
	border-left: 1px solid #474B4F;
}

/*SECTION 02*/

.player_profile_section02 {
 	display: inline-block;
}
.player_profile_circle {
	float: left;
	margin: 20px 60px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #33373B;
	text-align: center;
	position: relative;
}
.fa-trophy,
.fa-user-friends {
	font-size: 50px;
	margin-top: 32px;
	margin-bottom: 10px;
	text-align: center;
}
.break_icon {
	font-size: 40px;
	margin-left: 5px;
}
.circle_break {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
}
.little_circle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #61892F;
	border-radius: 50%;
	padding-top: 5px;
	box-shadow: 2px 2px 10px 0px #33373B;
}
.circle_hover div:hover {
	background-color: #61892F;
}
